.filters {

}

.filter-header {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin: 0 0 5px 60px;
}

.filters .menu-option {
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 22px;
    display: flex;
    font-weight: 300;
}

.filters .menu-option-children {
    margin-left: 10px;
}